#main{
    background-color: #003C43
}
#main2{
    background-color: #135D66
}
#main3{
    background-color: #77B0AA
}
#main4{
    background-color: #E3FEF7
}

#white{
    background-color: white;
}

p{
    font-size: 1vw;
}